<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.justjava">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MoviesListActivity"
            android:label="@string/title_activity_movies_list"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".MoviesGridActivity"
            android:label="@string/title_activity_movies_grid"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".MovieDetailsActivity"
            android:label="Movie Details Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name="android.intent.action.VIEW"/>

                <!-- Allows the link to be opened from a web browser -->
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name="android.intent.category.DEFAULT"/>

                <!-- URI http://www.deeplinkexample.com -->
                <data android:scheme="http" android:host="www.deeplinkexample.com" />

                <!-- URI myapp://deeplink -->
                <data android:scheme="myapp" android:host="deeplink" />
            </intent-filter>
        </activity>

    </application>

</manifest>